<!DOCTYPE html>
<html lang="fr">
    <head>  
        <meta charset="utf-8" /> 
        <title>GranPapy Bot</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <link href="{{ url_for('static', filename='pictures/book.gif') }}" rel="icon" type="image/gif" />
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
    </head>


    <body>

        <header class="row">
                <p class="col-lg-2" id="logo"><img src="{{ url_for('static', filename='pictures/grandpapy.png') }}" alt="logo grandpapy"></p>
                <div class="col-sm-12 col-lg-10" id="title1">
                    <h1>Bienvenue chez GranPapy Bot</h1>
                    <p>Posez les questions que vous désirez à PapyBot. Il vous répondra avec précision, plus...quelques histoires supplémentaires.</p>
                    <br/>
                </div>
        </header>


        <main class="row">

            <section class="col-xs-8 col-sm=8 col-lg-6 " id="question">
                <h2 class="h2">Hey Papybot j'ai une super question!</h2>
                <form id='my-question' action="/api/all">
                    <label for="text-question">Ecrivez votre question ci-dessous</label>
                    <br/>
                    <div class="d-flex justify-content-center">
                        <input class="col-lg-11" id="text-question" type="text"  name="text-question"  placeholder="Ma question à PapyBot"/>
                    </div>
                    <div class="d-flex justify-content-center">
                        <input class="btn btn-primary btn-warning" id="validate" type="submit" value="Soumettre ma question">                      
                    </div>
                </form>
                <div class="history_box col-lg-11">
                    <p>Retrouvez l'historique de vos questions ici</p> 
                    <ul id="history_list"></ul>
                </div>
            </section>


            <section class="col-xs-8 col-sm-8 col-lg-6" id="answer">
                <h2 class="h2"> <span id="h2_answer">Grandpapy Bot te répondra ci-dessous:</span> </h2>
                <p id="loading" class="d-none"><img  src="{{ url_for('static', filename='pictures/loading.gif') }}" alt="loading gif picture"></p>

                <aside class="d-none" id="map_answer">
                    <p id="adress-answer">
                        Bien sûr mon poussin ! La voici : <span id='adress_ans'></span>
                    </p>
                    <p>
                        Pour mieux te rendre compte regarde la carte ci-dessous:
                    </p>
                    <div id="map">
                    </div>
                </aside>

                <aside class="d-none" id="wiki_answer">
                    <br/><br/><p >Mais t'ai-je déjà raconté l'histoire de ce quartier qui m'a vu en culottes courtes ?</p>
                    <span id='summary_ans'></span><br/>
                    <a class="btn btn-info" id='url_ans' href="" target="_blank">[En savoir plus sur Wikipedia]</a>
                    
                </aside>
            </section>
            
        </main>


        <footer class="row">
            <p class="col-xs-12 col-sm-12 col-lg-8" id="author"><br/><br/>
                <img class="rounded-circle" src="{{ url_for('static', filename='pictures/wolf.png') }}" alt="logo perso">
                Auteur: Thibault SALGUES
            </p>
            <div class="col-xs-12 col-sm-12 col-lg-4" id="links">
                <ul class="list-group">
                    <li class="list-group-item-primary">
                        <p class="icon-l rounded"><img  src="{{ url_for('static', filename='pictures/github.png') }}" alt="logo github">
                        <a class="btn btn-info" href="https://github.com/Thibault231/projet_7_grandpapybot"
                        target="_blank">Lien Github du projet</a></p>
                    </li>
                    <li class="list-group-item-primary">
                        <p class="icon-l rounded"><img src="{{ url_for('static', filename='pictures/trello.png') }}" alt="logo trello">
                        <a class="btn btn-info" href="https://trello.com/b/iHMxYr68/grandpapy-bot"
                        target="_blank">Lien Trello vers le projet</a></p>
                    </li>
                    <li class="list-group-item-primary">
                        <p class="icon-l rounded"><img src="{{ url_for('static', filename='pictures/alumnis.png') }}" alt="logo alumnis">
                        <a class="btn btn-info" href="https://openclassrooms-student-center.github.io/alumnis/students/thibault-salgues.html"
                        target="_blank">Retrouvez nous sur Alumnis</a></p>
                    </li>
                </ul>
            </div>
        </footer>


        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key={{KEY}}&callback=initMap" async defer></script>
        <script src="{{ url_for('static', filename='js/first.js') }}"></script>
    
    </body>
</html>



