<!DOCTYPE html>
<html lang="fr">
    <head>  
        <meta charset="utf-8" />      
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="website, encyclopedia, granpapybot, AJAX" />
        <meta name="author" content="salgues231">
        
        <link href="{{ url_for('static', filename='pictures/book.gif') }}" rel="icon" type="image/gif" />
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

        <style>
        #loading{ display: none;}
        .loading{display: inline !important;}
        </style>

        <script type="text/javascript">
        function gif_loader(){
            document.getElementById('loading').classList.add("loading");
        }
        </script>
        <title>GranPapy Bot</title>

    </head>

  <body>
    <header class="row">
            <p class="col-lg-2" id="logo"><img src="{{ url_for('static', filename='pictures/grandpapy.png') }}" alt="logo grandpapy"></p>
            <div class="col-sm-12 col-lg-10" id="title1">
                <h1>Bienvenue chez GranPapy Bot</h1>
                <p>Posez les questions que vous désirez à PapyBot. Il vous répondra avec précision, plus...quelques histoires supplémentaires.</p>
                <br/>
            </div>
    </header>

    <main class="row">
        <section class="col-xs-8 col-sm=8 col-lg-6" id="question">
            <h2>Hey Papybot j'ai une super question pour toi!</h2>
            <form class="my-question" action="" method="POST">
                <label for="text-question">Ecrivez votre question ci-dessous</label>
                <br/>
                <input type="text" name="text-question" id="text-question" value="Ma question à PapyBot"/>
                <br/>
                <input id="validate" type="submit" value="Soumettre ma question" onclick="gif_loader()"/>
            </form>
            <div class="history_box">
           
                <p>Retrouvez l'historique de vos questions ici</p> 
                {% block history_box %}{% endblock %}
            </div>
        </section>

        <section class="col-xs-8 col-sm=8 col-lg-6" id="answer">
            <article>
                <h2>Regarde par ici pour consulter la réponse de Grand PapyBot.</h2>
                <p id="loading"><img  src="{{ url_for('static', filename='pictures/loading.gif') }}" alt="loading gif picture"></p>
            </article>
            {% block answer %}{% endblock %}
        </section>
        
    </main>

    <footer class="row">
        <p class="col-lg-8" id="author"><br/><br/> Auteur: Thibault SALGUES</p>
        <div class="col-sm-8 col-lg-4" id="links">
            <p ><a  href="https://github.com/Thibault231/projet_7_grandpapybot" target="_blank">Lien Github du projet</a></p>
            <p ><a  href="https://trello.com/b/iHMxYr68/grandpapy-bot" target="_blank">Lien Trello vers le projet</a></p>
            <p ><a  href="https://openclassrooms-student-center.github.io/alumnis/students/thibault-salgues.html" target="_blank">Retrouvez nous sur Alumnis</a></p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA63EmB7d3J1w_6axs28keyc0tVaxhsnIA&callback=initMap"
    async defer></script>
    </body>
</html>



